.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Spiner {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.button-close {
  right: 0;
  top: 0;
  margin: 10px;
  position: absolute;
  background: none;
  border: 0;
  cursor: pointer;
}

.header-text {
  margin: 0;
  color: #fff;
  font-size: 25px;
  z-index: 1;
  padding-bottom: 5px;
}

.swiper-image {
  width: 100%;
  border-radius: 25px;
  max-width: 600px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Spiner, .Contacts, .main-info {
  max-width: 49%;
}

@media screen and (max-width: 1000px) {
  .Spiner, .Contacts, .main-info {
    max-width: 90%;
  }
}

.slider {
  max-width: 90%;
}

.App-link {
  color: #61dafb;
}

.Header, .Footer {
  height: 50px;
}

.Header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 15;
}

.header-image {
  height: 50px;
  width: 100%;
  position: absolute;
}

.Main {
  padding-top: 50px;
}

.main-info {
  text-align: start;
  padding-left: 20px;
  font-size: 25px;
  line-height: 40px;
}

.title {
  font-size: 30px;
  margin: 15px;
}

.open-modal-button {
  font-size: 16px;
  border: 0;
  padding: 10px;
  border-radius: 7px;
  background-color: yellowgreen;
  cursor: pointer;
}

.plan-image {
  max-width: 90%;
  max-height: 90vh;
}

.header-logo-text {
  position: absolute;
  z-index: 1;
  left: 0;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding-left: 5%;
}

.Footer {
  bottom: 0;
  margin-top: 50px;
  width: 100%;
}

.Contacts {
  margin: 20px;
}

.Contacts-header {
  font-size: 20px;
}

.contacts-text {
  text-align: start;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
